[logging]
# Рівень логування без перекомпіляції.
# Можливі значення: DEBUG, INFO, WARNING, ERROR, CRITICAL
level = INFO

[handlers]
# Ротація файлу логів
max_bytes = 5242880
backup_count = 3
error_backup_count = 5
